{% extends 'base.html.twig' %}
{% form_theme PasswordForgotForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

    <div class="container ">

        <div class="row">
            <div class="card col align-self-center ">
                <div class="col-auto">
                    <div class="card-header text-center">
                        <h1 class="mx-auto p-2 ">Mot de passe oublié ?</h1>
                    </div>
                    <div class="card-body">
                        {{ form_start(PasswordForgotForm) }}
                        {% for message in app.flashes('error') %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="container">
                            <div class="row">
                                {#                                <div class="col col-4">#}
                                {#                                    Address mail#}
                                {#                                </div>#}

                                <div class="col col-6">
                                    Email {{ form_row(PasswordForgotForm.email) }}
                                </div>
                            </div>
                            <div class="row mt-2 align-self-center ">
                                <div class="col ">
                                    <button type="submit" class="btn btn-primary">Envoyer</button>
                                </div>
                                {{ form_end(PasswordForgotForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}