<aside class="col-3 p-2">
    <article class="card">
        <div class="card-header">
            Categories
        </div>
        <div class="card-header">
            <p><a href="{{ path('admin_categories_index') }}">Liste des catégories</a></p>
            <p><a href="{{ path('admin_categories_new') }}">Ajouter des categories</a></p>
        </div>
    </article>
    <article class="card">
        <div class="card-header">
            Produits
        </div>
        <div class="card-header">
            <p><a href="{{ path('admin_product_index') }}">Liste des produits</a></p>
            <p><a href="{{ path('admin_product_new') }}">Ajouter des produits</a></p>
        </div>
    </article>
    <article class="card">
        <div class="card-header">
            Utilisateurs
        </div>
        <div class="card-header">
            <p><a href="{{ path('admin_users_index') }}">Liste des utilisateurs</a></p>
            <p><a href="{{ path('admin_users_create_user') }}">Ajouter des utilisateurs</a></p>
        </div>
    </article>
    <article class="card">
        <div class="card-header">
            Commandes
        </div>
        <div class="card-header">
            <p><a href="{{ path('admin_orders_view') }}">Liste des commandes</a></p>

        </div>
    </article>
</aside>