{% extends 'base.html.twig' %}
{% form_theme ProductForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container ">
        <div class="row">
            {% include "_partial/_adminnav.html.twig" %}
            <main class="col-9 p-2">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <h1 class="mx-auto p-2">Ajouter un nouveau produit</h1>
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="row">
                            {{ form_start(ProductForm) }}
                            <div class="col" style="font-weight: bold;">
                                {{ form_row(ProductForm.category) }}
                            </div>
                            <div class="col" style="font-weight: bold;">
                                {{ form_row(ProductForm.name) }}
                            </div>
                            <div class="col" style="font-weight: bold;">
                                {{ form_row(ProductForm.description) }}
                            </div>
                            <div class="col" style="font-weight: bold;">
                                {{ form_row(ProductForm.price) }}
                            </div>
                            <div class="col" style="font-weight: bold;">
                                {{ form_row(ProductForm.stock) }}
                            </div>

                            <div class="row">
                                <div class="col">
                                    <ul class="productPictures"
                                        data-index="{{ ProductForm.productPictures|length > 0 ? ProductForm.productPictures|last.vars.name + 1 : 0 }}"
                                        data-prototype="{{ form_widget(ProductForm.productPictures.vars.prototype)|e('html_attr') }}">

                                    </ul>
                                    <button type="submit" class="btn btn-primary">Ajouter</button>
                                </div>

                            </div>
                            <script>

                                const addProductPicturesLink = document.createElement('a')
                                addProductPicturesLink.classList.add('add_tag_list')
                                addProductPicturesLink.href = '#'
                                addProductPicturesLink.innerText = 'Add a picture'
                                addProductPicturesLink.dataset.collectionHolderClass = 'productPictures'

                                const newLinkLi = document.createElement('li').append(addProductPicturesLink)

                                const collectionHolder = document.querySelector('ul.productPictures');
                                collectionHolder.appendChild(addProductPicturesLink)

                                const addFormToCollection = (e) => {
                                    const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);
                                    // console.log('test');
                                    const item = document.createElement('li');

                                    item.innerHTML = collectionHolder
                                        .dataset
                                        .prototype
                                        .replace(
                                            /__name__/g,
                                            collectionHolder.dataset.index
                                        );

                                    collectionHolder.appendChild(item);

                                    collectionHolder.dataset.index++;
                                }

                                addProductPicturesLink.addEventListener("click", addFormToCollection)
                            </script>
                            {{ form_end(ProductForm) }}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock %}
