{% extends 'base.html.twig' %}
{% form_theme AdminForm 'bootstrap_5_horizontal_layout.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
    <div class="container ">
        <div class="row">
            {% include "_partial/_adminnav.html.twig" %}
            <main class="col-9 p-2">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                <h1 class="mx-auto p-2">Ajouter un utilisateur</h1>
                <div class="card mt-3">
                    <div class="card-body">
                        <div class="row">
                            {{ form_start(AdminForm) }}
                            <div class="col">
                                <p class="card-text"><strong>Email:</strong> {{ form_row(AdminForm.email) }}</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><strong>Rôle:</strong> {{ form_row(AdminForm.roles) }}</p>
                            </div>
                            <div class="col">
                                <p class="card-text"><strong>Infos:</strong> {{ form_row(AdminForm.infos) }}</p>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Ajouter</button>
                            </div>
                        </div>
                        {{ form_end(AdminForm) }}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
